*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.hprof
*.bin
*.ggml
*.gguf
local.properties
/out
/release
*.keystore
!gradle/wrapper/gradle-wrapper.jar
